<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="br.edu.ifba.lagos.App" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="br.edu.ifba.lagos.*" />
        <option name="ENABLED" value="false" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>